  
  /* Переключатель - коробка вокруг ползунка */
  .search-form__switch {
    position: relative;
    display: flex;
    width: 36px;
    height: 20px;
    margin-top: 32px;
  }
  
  /* Скрыть флажок HTML по умолчанию */
  .search-form__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Ползунок */
  .search-form__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background-color: #EBEBEB;
    transition: .4s;
  
  }
  
  .search-form__slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: .4s;
  }
  
  .search-form__checkbox:checked + .search-form__slider {
    background-color: #2BE080;
  }
  
  .search-form__checkbox:focus + .search-form__slider {
    box-shadow: 0 0 1px #2BE080;
  }
  
  .search-form__checkbox:checked + .search-form__slider:before {
    transform: translateX(16px);
  }
  
  .search-form__slider-name {
    padding-left: 50px;
    font-size: 13px;
    line-height: 18px;
  }
  
  @media screen and (max-width: 890px) {
    .search-film {
        padding-right: 50px;
        padding-left: 50px;
      }
  }
  
    @media screen and (max-width: 768px) {
 
  
    .search-form__switch{
      align-self: flex-end;
      flex-direction: row-reverse;
      margin-left: 95%;
    }
  
    .search-form__slider-name {
      padding-left: 0;
      padding-right: 50px;
    }
  }
  
  @media screen and (max-width: 420px) {
 
    .search-form__switch{
      margin-top: 40px;
      margin-left: 60%;
    }
  
    .search-form__slider-name {
      font-size: 11px;
      line-height: 18px;
    }
  }
  