.header_main {
  background-color: #073042;
}

.logo {
  width: 38px;
  height: 38px;
  transition: all 0.1s linear;
}

.header__content {
  max-width: 1280px;
  display: flex;
  margin: auto;
  align-items: center;
  min-height: 74px;
}

.header__content {
  width: calc(100% - 2 * 70px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header__content {
      max-width: 768px;
  }

  .header__content {
      width: calc(100% - 2 * 30px);
  }
}

@media screen and (max-width: 767px) {
  .header__content {
      max-width: 320px;
  }
  
  .header__content {
      width: calc(100% - 2 * 14px);
  }
}